@page "/home"

<h3>Importer</h3>

<p>Upload e validação de documentos ATCUD.</p>

<a class="btn btn-primary" href="/upload">
    Novo Documento
</a>
<a class="btn btn-primary" href="/validate">
    Ir para validação de documento
</a>
